/* header变量集合 */
$headerMinWidth: 1350px;
$headerBg: #17000C 100%;
$headerHeight: 76px;
$title-font: normal 24px/1.5 'Open Sans', sans-serif;
$fontColor:white;
$fontSmallSize: 18px;
$fontMediumSize: 22px;
$fontBigSize: 34px;
$logoWidth: 243px;
$logoHeight:40px;
$regisBtnWidth:100px;
$regisBtnHeight: 40px;
$navbarHeight: 35px;

/* 激活状态下的navbar里item的样式 */
#header .navbarWrapper .navbar .activeNavbar {
  border-bottom: 2px solid $fontColor;
}

#header {
  min-width: $headerMinWidth;
  height: $headerHeight;
  padding: 0 120px;
  background: $headerBg;
  color: $fontColor;
  .logo {
    width: $logoWidth;
    height: $logoHeight;
    transform: translateY(50%);
    background: url(../img/1.jpg) no-repeat;
    background-size: cover;
  }
  .navbarWrapper {
    float: right;
    .navbar {
      display: inline-block;
      line-height: $headerHeight;
      li {
        display: inline-block;
        height: $navbarHeight;
        line-height: $navbarHeight;
        margin: 0 20px;
        border-bottom: 2px solid transparent;
        transition: border-bottom .25s;
        a {
          height: $navbarHeight;
        }
      }
      li:hover{
        cursor: pointer;
        border-bottom: 2px solid $fontColor;
      }
    }
    .RegistrationBtn:hover{
      cursor: pointer;
    }
    .RegistrationBtn{ 
      width: $regisBtnWidth;
      height: $regisBtnHeight;
      text-align: center;
      line-height: $regisBtnHeight;
      border-radius: 5px;
      background: url(../img/a8563f87803853.5dc31e035b89b.jpg) no-repeat;
      background-size: cover;
    }
  }
}