#header .navbarwrap .navbar .activeNavbar {
  border-bottom: 2px solid #fff;
}
#header {
  min-width: 1350px;
  width: 100vw;
  height: 76px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 120px;
  z-index: 1000;
  background: #17000c 100%;
  color: #fff;
}
#header .logo {
  width: 243px;
  height: 40px;
  transform: translateY(50%);
  background: url(../img/1.jpg) no-repeat;
  background-size: cover;
}
#header .navbarwrap {
  float: right;
}
#header .navbarwrap .navbar {
  display: inline-block;
  line-height: 76px;
}
#header .navbarwrap .navbar li {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  margin: 0 20px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.25s;
}
#header .navbarwrap .navbar li a {
  height: 35px;
}
#header .navbarwrap .navbar li:hover {
  cursor: pointer;
  border-bottom: 2px solid #fff;
}
#header .navbarwrap .RegistrationBtn:hover {
  cursor: pointer;
}
#header .navbarwrap .RegistrationBtn {
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  background: url(../img/a8563f87803853.5dc31e035b89b.jpg) no-repeat;
  background-size: cover;
}
