.centerRelative {
  position: relative;
}

.centerRelative .centerAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cTitle {
  margin: 0 0 60px 0;
  font-size: 34px;
  font-weight: 700;
}

.cTitleBg {
  width: auto;
  height: 34px;
  margin: 0 0 60px 0;
}

.textCenter {
  text-align: center;
}

.paddingMore {
  padding-right: 30px;
}

.shadow {
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.shadow:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 2px 32px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 32px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

.cg_fullpage .section {
  color: white;
  background: url(http://img.iimedia.cn/00001228e00fdffb513251e96027c50ff3fd18040576eed1660299eeb278938ef42d8) no-repeat;
  background-size: cover;
}

.cg_fullpage .cg_background .centerAbsolute {
  width: 1000px;
}

.cg_fullpage .cg_background .centerAbsolute .cDesc {
  font-size: 18px;
  line-height: 28px;
  text-align: left;
  text-indent: 2rem;
  letter-spacing: 2px;
}

.cg_fullpage .cg_highlight .centerAbsolute {
  width: 1200px;
  padding: 0 50px;
}

.cg_fullpage .cg_highlight .centerAbsolute .nWrap {
  max-height: 600px;
}

.cg_fullpage .cg_highlight .centerAbsolute .nWrap .hLContent {
  font-size: 0;
}

.cg_fullpage .cg_highlight .centerAbsolute .nWrap .hLContent .hLGroup {
  display: inline-block;
  width: 520px;
  margin: 23px 0;
  vertical-align: middle;
  background-size: cover;
}

.cg_fullpage .cg_highlight .centerAbsolute .nWrap .hLContent .hLGroup .wrap {
  position: relative;
  padding: 32px;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.cg_fullpage .cg_highlight .centerAbsolute .nWrap .hLContent .hLGroup .wrap .gTitle {
  position: absolute;
  top: -20px;
  left: 10px;
  z-index: 10;
  height: 36px;
  padding: 0 12px;
  font-size: 18px;
  line-height: 36px;
  font-weight: 700;
  background-size: cover;
}

.cg_fullpage .cg_highlight .centerAbsolute .nWrap .hLContent .hLGroup .wrap .desc {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  font-size: 16px;
  letter-spacing: 1px;
}

.cg_fullpage .cg_highlight .centerAbsolute .nWrap .hLContent .hLGroup .wrap:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.cg_fullpage .cg_highlight .centerAbsolute .nWrap .hLContent .hLGroup:nth-child(even) {
  margin: 0 0 0 20px;
}

.cg_fullpage .cg_guests .centerAbsolute .csslider > ul {
  width: 1200px;
  height: 540px;
  font-size: 0;
}

.cg_fullpage .cg_guests .centerAbsolute .csslider > ul .flipWrap {
  display: inline-block;
  width: 220px;
  height: 256px;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.cg_fullpage .cg_guests .centerAbsolute .csslider > ul .flipWrap .flip {
  position: relative;
  width: 220px;
  height: 256px;
  margin: 0;
  padding: 0;
  font-size: 0;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.cg_fullpage .cg_guests .centerAbsolute .csslider > ul .flipWrap .flip .front,
.cg_fullpage .cg_guests .centerAbsolute .csslider > ul .flipWrap .flip .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cg_fullpage .cg_guests .centerAbsolute .csslider > ul .flipWrap .flip .gGroup {
  display: inline-block;
  width: 220px;
  height: 256px;
  font-size: 16px;
  -webkit-transition: background-color 0.35s;
  transition: background-color 0.35s;
}

.cg_fullpage .cg_guests .centerAbsolute .csslider > ul .flipWrap .flip .gGroup .centerAbsolute {
  width: 220px;
}

.cg_fullpage .cg_guests .centerAbsolute .csslider > ul .flipWrap .flip .gGroup .centerAbsolute .gAvatar {
  width: 130px;
  height: 130px;
  border: 1px solid #e86feb;
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
  border-radius: 50%;
}

.cg_fullpage .cg_guests .centerAbsolute .csslider > ul .flipWrap .flip .gGroup .centerAbsolute .gname {
  margin: 20px 10px 10px 10px;
  font-weight: 700;
}

.cg_fullpage .cg_guests .centerAbsolute .csslider > ul .flipWrap .flip .gGroup .centerAbsolute .gdesc {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

.cg_fullpage .cg_guests .centerAbsolute .csslider > ul .flipWrap:hover .flip {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.cg_fullpage .cg_guests .centerAbsolute .csslider > ul .flipWrap:hover .flip .gGroup {
  background: #e86feb;
  cursor: pointer;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.cg_fullpage .cg_guests .centerAbsolute .csslider > ul .flipWrap:hover .flip .gGroup .gdesc {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  font-size: 14px;
  color: white;
}

.cg_fullpage .cg_guests .centerAbsolute .csslider > .arrows label {
  -webkit-box-shadow: inset 2px -2px 0 1px #3a3a3a;
  box-shadow: inset 2px -2px 0 1px #3a3a3a;
}

.cg_fullpage .cg_guests .centerAbsolute .csslider > .arrows label:hover {
  -webkit-box-shadow: inset 3px -3px 0 2px #e86feb;
  box-shadow: inset 3px -3px 0 2px #e86feb;
  box-shadow: inset 3px -3px 0 2px #e86feb;
}

.cg_fullpage .cg_guests .centerAbsolute .csslider > .navigation label {
  background: #3a3a3a;
}

.cg_fullpage .cg_guests .centerAbsolute .csslider > .navigation label:after {
  background: #e86feb;
}

.cg_fullpage .cg_agendaOrContactOrRegis .centerAbsolute {
  width: 1100px;
  font-size: 0;
}

.cg_fullpage .cg_agendaOrContactOrRegis .centerAbsolute .nWrap {
  max-height: 600px;
}

.cg_fullpage .cg_agendaOrContactOrRegis .centerAbsolute .nWrap .aGroup {
  display: inline-block;
  margin: 0 0 20px 0;
  vertical-align: middle;
}

.cg_fullpage .cg_agendaOrContactOrRegis .centerAbsolute .nWrap .aGroup .aItem {
  border-radius: 10px;
}

.cg_fullpage .cg_agendaOrContactOrRegis .centerAbsolute .nWrap .aGroup .aItem .aPic {
  width: 500px;
  height: auto;
}

.cg_fullpage .cg_agendaOrContactOrRegis .centerAbsolute .nWrap .aGroup:nth-child(even) {
  margin: 0 0 20px 20px;
}

.cg_fullpage .cg_news .centerAbsolute {
  width: 1200px;
}

.cg_fullpage .cg_news .centerAbsolute .nWrap {
  max-height: 600px;
  overflow: auto;
}

.cg_fullpage .cg_news .centerAbsolute .nWrap .nItem {
  width: 538px;
  height: 170px;
  margin: 0 0 24px 0;
  padding: 24px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.cg_fullpage .cg_news .centerAbsolute .nWrap .nItem .mainImg {
  width: 165px;
  height: auto;
  vertical-align: top;
}

.cg_fullpage .cg_news .centerAbsolute .nWrap .nItem .words {
  width: 309px;
}

.cg_fullpage .cg_news .centerAbsolute .nWrap .nItem .words .title {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  margin: 0 0 5px 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
}

.cg_fullpage .cg_news .centerAbsolute .nWrap .nItem .words .desc {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  font-size: 14px;
  line-height: 20px;
  color: lightgray;
}

.cg_fullpage .cg_news .centerAbsolute .nWrap .nItem:nth-child(even) {
  margin: 0 0 0 30px;
}

.cg_fullpage .cg_news .centerAbsolute .nWrap .nItem:hover {
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.cg_fullpage .cg_parnerOrMedia .centerAbsolute {
  width: 1200px;
}

.cg_fullpage .cg_parnerOrMedia .centerAbsolute .pWrap {
  max-height: 600px;
  overflow: auto;
}

.cg_fullpage .cg_parnerOrMedia .centerAbsolute .pWrap .pGroup {
  margin: 0 0 20px 0;
}

.cg_fullpage .cg_parnerOrMedia .centerAbsolute .pWrap .pGroup .pTitle {
  margin: 0 0 25px 0;
  font-size: 18px;
}

.cg_fullpage .cg_parnerOrMedia .centerAbsolute .pWrap .pGroup .pContent .pItem {
  width: 175px;
  height: 70px;
  margin: 10px;
}

.cg_fullpage .cg_contact .centerAbsolute {
  width: 1200px;
}

.cg_fullpage .cg_contact .centerAbsolute .nWrap {
  max-height: 600px;
}

.cg_fullpage .cg_contact .centerAbsolute .nWrap .cGroup .cItem {
  width: 350px;
  height: 200px;
  margin: 12px;
  transition: background-color 0.25s;
}

.cg_fullpage .cg_contact .centerAbsolute .nWrap .cGroup .cItem:hover {
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.cg_fullpage .cg_excellenceAwardOrAddress .centerAbsolute {
  width: 1200px;
}

.cg_fullpage .cg_excellenceAwardOrAddress .centerAbsolute .cBg {
  max-height: 600px;
}

.cg_fullpage .cg_scale .centerAbsolute {
  width: 1200px;
  padding: 0 50px;
}

.cg_fullpage .cg_scale .centerAbsolute .gContent .nWrap {
  max-height: 600px;
}

.cg_fullpage .cg_scale .centerAbsolute .gContent .nWrap .hLContent {
  font-size: 0;
}

.cg_fullpage .cg_scale .centerAbsolute .gContent .nWrap .hLContent .hLGroup {
  display: inline-block;
  width: 520px;
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
  vertical-align: middle;
  background-size: cover;
  background: rgba(0, 0, 0, 0.1);
}

.cg_fullpage .cg_scale .centerAbsolute .gContent .nWrap .hLContent .hLGroup .wrap {
  position: relative;
  -webkit-transition: background-color 0.25s;
  padding: 5px;
  transition: background-color 0.25s;
  background: url(http://img.iimedia.cn/0000117b83e66a86ad4b1d2c9d2984319f463b5f5d2e28075324f8aba0388fc65c95f) no-repeat;
  background-size: cover;
}

.cg_fullpage .cg_scale .centerAbsolute .gContent .nWrap .hLContent .hLGroup .wrap .desc {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  width: 70%;
  font-size: 16px;
  letter-spacing: 1px;
}

.cg_fullpage .cg_scale .centerAbsolute .gContent .nWrap .hLContent .hLGroup:nth-child(even) {
  margin: 0 0 0 20px;
}

/*# sourceMappingURL=fullpageSection.css.map */
