$backgroundWidth:1000px; $highlightWidth:1200px; $titleMargin:60px; $titleBgHeight:34px; $hLGroupWidth:538px; $hLgTitleHeight:36px; $gWidth:1200px; $gHeight:540px; $ggWidth:220px; $ggHeight:256px; $gAvatarSize:130px; $gDescWidth:164px; $gArrowcolor:#3a3a3a; $gArrowHoverC:#e86feb; $aWidth:1100px; $aPicWidth:500px; $nWidth:1200px; $nHeight:558px; $nItemWidth:538px; $nItemHeight:170px; $nItemPicW:165px; $nItemWordsW:309px;
$rCBdwidth:480px;$pHeight:550px;$pItemW:175px;$pItemH:70px;$cGItemW:350px;$cGItemH:200px;
/* 多行省略函数 */
@mixin ellipsis($line) { display:-webkit-box; overflow:hidden;  -webkit-box-orient:vertical; text-overflow:ellipsis;  -webkit-line-clamp:$line;
}
/* 使用relative和absolute实现水平垂直居中 */
.centerRelative { position:relative;
  .centerAbsolute { position:absolute; top:50%; left:50%; text-align:center;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%);
  }
}
/* 大会栏目title文字样式 */
.cTitle { margin:0 0 $titleMargin 0;font-size:34px;font-weight:700;
}
/* 大会栏目title背景图片样式 */
.cTitleBg { width:auto; height:$titleBgHeight;margin:0 0 $titleMargin 0;
}
.textCenter { text-align:center;
}
/* 合作伙伴title的文字对齐组title */
.paddingMore { padding-right:30px;
}
.shadow { -webkit-transition:all 0.25s; transition:all 0.25s;
}
.shadow:hover { cursor:pointer;-webkit-box-shadow:0 2px 32px 0 rgba(0, 0, 0, 0.2); box-shadow:0 2px 32px 0 rgba(0, 0, 0, 0.2); transform:scale(1.01);
}
.cg_fullpage { .section { color:white;  background:url(http://img.iimedia.cn/00001228e00fdffb513251e96027c50ff3fd18040576eed1660299eeb278938ef42d8) no-repeat;  background-size:cover;
    /* 大会头图样式 */
  }
  .cg_background .centerAbsolute { width:$backgroundWidth;
    .cDesc { font-size:18px;  line-height:28px;text-align:left;text-indent:2rem;

letter-spacing:2px;
    }
  }
  .cg_highlight .centerAbsolute { width:$highlightWidth; padding:0 50px;
    .hLContent { font-size:0;
      .hLGroup { display:inline-block; width:$hLGroupWidth; margin:23px 0;  vertical-align:middle; background-size:cover;
        .wrap { position:relative; padding:32px;-webkit-transition:background-color 0.25s;transition:background-color 0.25s;
          .gTitle { position:absolute; top:-20px; left:10px;z-index:10;height:$hLgTitleHeight;padding:0 12px;  font-size:18px; line-height:$hLgTitleHeight;  font-weight:700;

background-size:cover;
          }
          .desc { @include ellipsis(2);font-size:16px;  letter-spacing:1px;
          }
        }
        .wrap:hover { background:rgba($color:black, $alpha:0.1);cursor:pointer;
        }
      }
      .hLGroup:nth-child(even) { margin:0 0 0 22px;
      }
    }
  }
  .cg_guests .centerAbsolute { .csslider > ul { width:$gWidth; height:$gHeight;  font-size:0;
      .flipWrap { display:inline-block;width:$ggWidth; height:$ggHeight;margin:0;  padding:0; font-size:0;
        .flip { position:relative;width:$ggWidth; height:$ggHeight;margin:0; padding:0; font-size:0;-webkit-transition:-webkit-transform 0.25s;transition:-webkit-transform 0.25s;transition:        transform 0.25s;transition:        transform 0.25s, -webkit-transform 0.25s;  -webkit-transform-style:preserve-3d;  transform-style:preserve-3d;
          .front, .back { position:absolute; top:0 ; left:0;width:100%; height:100%;-webkit-backface-visibility:hidden;backface-visibility:hidden;
          }
          .gGroup { display:inline-block;  width:$ggWidth; height:$ggHeight; font-size:16px;-webkit-transition:background-color 0.35s;transition:background-color 0.35s;
            .centerAbsolute { width:$ggWidth;
              .gAvatar { width:$gAvatarSize; height:$gAvatarSize;  border:1px solid #e86feb;-webkit-transition:-webkit-transform 0.35s; transition:-webkit-transform 0.35s; transition:transform 0.35s; transition:transform 0.35s, -webkit-transform 0.35s; border-radius:50%;
              }
              .gname { margin:20px 10px 10px 10px;font-weight:700;
              }
              .gdesc { @include ellipsis(2);font-size:14px;color:rgba($color:white, $alpha:0.8);
              }
            }
          }
        }
      }
      .flipWrap:hover { .flip { -webkit-transform:rotateY(180deg);         transform:rotateY(180deg);
          .gGroup { background:#e86feb;  cursor:pointer;-webkit-transform:rotateY(180deg);transform:rotateY(180deg);
            .gdesc { @include ellipsis(2);font-size:14px;color:white;
            }
          }
        }
      }
    }
    .csslider > .arrows label { -webkit-box-shadow:inset 2px -2px 0 1px $gArrowcolor; box-shadow:inset 2px -2px 0 1px $gArrowcolor;
    }
    .csslider > .arrows label:hover { -webkit-box-shadow:inset 3px -3px 0 2px $gArrowHoverC; box-shadow:inset 3px -3px 0 2px $gArrowHoverC; box-shadow:inset 3px -3px 0 2px $gArrowHoverC;
    }
    .csslider > .navigation label { background:$gArrowcolor;
    }
    .csslider > .navigation label:after { background:$gArrowHoverC;
    }
  }
  .cg_agenda .centerAbsolute { width:$aWidth;  font-size:0;
    .aGroup { display:inline-block; margin:0 0 20px 0; vertical-align:middle;
      .aItem { border-radius:10px;
        .aPic { width:$aPicWidth; height:auto;
        }
      }
    }
    .aGroup:nth-child(odd) { margin:0 0 20px 20px;
    }
  }
  .cg_news .centerAbsolute { width:$nWidth;
    .nWrap { max-height:$nHeight; overflow:auto;
      .nItem { width:$nItemWidth; height:$nItemHeight; margin:0 0 24px 0; padding:24px; border:1px solid rgba(255,255,255, 0.1);  -webkit-transition:background-color 0.25s;          transition:background-color 0.25s;
        .mainImg { width:$nItemPicW; height:auto; vertical-align:top;
        }
        .words { width:$nItemWordsW;
          .title { @include ellipsis(2);margin:0 0 5px 0;font-size:16px;  line-height:22px;font-weight:700;
          }
          .desc { @include ellipsis(3);font-size:14px;  line-height:20px;  color:lightgray;
          }
        }
      }
      .nItem:nth-child(even) { margin:0 0 0 30px;
      }
      .nItem:hover { background:rgba(255,255,255, 0.1);cursor:pointer;
      }
    }
  }
  .cg_registration .centerAbsolute { width:$nWidth;
    .rCBg { width:$rCBdwidth;height:auto;margin:0 0 33px 0;
    }
    .rCBg:nth-child(odd) { margin:0 0 33px 32px;
    }
  }
  .cg_partners .centerAbsolute { width:$nWidth;
    .pWrap { max-height:$pHeight;overflow:auto;
      .pGroup { margin:0 0 20px 0;
        .pTitle { margin:0 0 25px 0; font-size:18px;
        }
        .pContent { .pItem { width:$pItemW;height:$pItemH;margin:10px;
          }
        }
      }
    }
  }
  .cg_contact .centerAbsolute { width:$nWidth;
    .cGroup { .cItem { width:$cGItemW;height:$cGItemH;margin:12px;transition:background-color 0.25s;
      }
      .cItem:hover { background:rgba($color:white, $alpha:0.1);cursor:pointer;
      }
    }
  }
  .cg_excellenceAwardOrAddress .centerAbsolute { width:$nWidth;
    .cBg { max-height:500px;
    }
  }
}
